[submodule "Submodules/bpackets"]
	path = Submodules/bpackets
	url = https://gitlab.com/bcore1/bpackets
[submodule "Submodules/gui-framework"]
	path = Submodules/gui-framework
	url = https://gitlab.com/g2o/scripts/gui-framework
	branch = 0.3.0
[submodule "Submodules/areamanager"]
	path = Submodules/areamanager
	url = https://gitlab.com/g2o/scripts/areamanager
[submodule "Submodules/tween.nut"]
	path = Submodules/tween.nut
	url = https://gitlab.com/g2o/scripts/tween.nut
[submodule "Submodules/freecam"]
	path = Submodules/freecam
	url = https://gitlab.com/g2o/scripts/freecam
[submodule "Submodules/camerapath"]
	path = Submodules/camerapath
	url = https://gitlab.com/g2o/scripts/camerapath
[submodule "Submodules/inventory"]
	path = Submodules/inventory
	url = https://gitlab.com/g2o/scripts/inventory
